
ProgramLanguage/ClassLibraryLab2/.vs/ClassLibraryLab2/v15/Server/sqlite3/db.lock
ProgramLanguage/Laba8Library/.vs/Laba8Library/v15/Browse.VC.opendb
ProgramLanguage/Laba8Library/.vs/Laba8Library/v15/.suo
